html, body {
  width: 100vw;
  height: calc(100vh - 20px);
  background: #f3f3f3;
}

table {
  width: calc(100vw - 20px);
  box-shadow: 0 0 2px #c2c2c2;
  margin: 10px;
  background: white;
  padding: 10px;
  border-spacing: 0;

  &:nth-child(0) {
    background: black !important;
  }

  td {
    padding: 10px 5px;
    font-size: 13px;
    text-align: center;
    width: max-content;
    max-width: max-content;
    word-break: keep-all;
    white-space: nowrap;
    transition: all 0.3s;
  }

  //带状态表格浮动效果
  .tr-hoverClass {
    border-radius: 2.5px;
    box-shadow: 0px 0px 10px 1px rgba(89, 89, 89, 0.49);
    transform: translateZ(50px) translateX(2.5px) perspective(500px);
    transform-style: preserve-3d;
  }

  tr {
    border-radius: 2.5px;
    transition: all 0.5s;
  }

  th {
    padding: 15px 0;
    font-weight: bolder;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
  }

  .content {
    max-width: 300px;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checkForMore {
  color: #f3f3f3;
  padding: 2px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #4c95ed;
}

.info-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(46, 46, 46, 0.47);

  .mask-content {
    width: 60vw;
    background: #ffffff;
    margin-left: calc(20vw - 40px);
    padding: 5px 30px;
    margin-top: 5vh;
    border: 1px solid transparent;
    border-radius: 5px;

    .mask-submit-button {
      padding: 2px 10px;
      font-size: 12px;
      border: none;
      box-shadow: 0px 0px 2px black;
      background-color: #2797e6;
      color: white;
      margin-right: 10px;
      border-radius: 2px;
    }

    .mask-cancel-button {
      padding: 2px 10px;
      font-size: 12px;
      border: none;
      box-shadow: 0px 0px 2px black;
      background-color: #f4f4f4;
      color: #333333;
      border-radius: 2px;
    }

    .MASK-CONTAINER {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #353535;

      .label {
        min-width: 100px;
        font-size: 13px;
        word-break: keep-all;
      }

      .value {
        width: 20vw;
        height: 20px;
        font-size: 13px;
        padding: 2px 5px;
      }

      select, option, input {
        padding: 5px;
        width: 80vw;
        font-size: 13px;
        border: none;
      }


      input {
        border-radius: 2px;
        outline: none;
      }

      input[type=datetime-local], input[required], input[disabled] {
        width: 80vw;
        box-shadow: 0px 0px 1px black;
      }

      option, select {
        font-size: 12px;
        color: #5c5c5c !important;
        outline: none;
        border: none;
      }

      input[type=datetime-local] {
        padding: 5px;
      }
    }
  }
}

