spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rmg_database?useSSL=false&serverTimezone=UTC
    username: "root"
    password: "000000"
    driver-class-name: com.mysql.cj.jdbc.Driver
  thymeleaf:
    cache: false
    enabled: true
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      jedis:
        pool:
          max-active: 8
          max-wait: 1ms
          max-idle: 4
          min-idle: 1

mybatis-plus:
  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: false