.container {
  height: 100% !important;

  .person-info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rpx;
    background-color: #eeeeee;
    height: 100%;

    .please-login-tips {
      padding: 30rpx 0;
      font-size: 30rpx;
      font-weight: bolder;
      color: #2b2b2b;
      letter-spacing: 1px;
    }

    .header-image-container {
      position: relative;
      display: flex;
      align-items: center;
      height: 240rpx;
      width: 240rpx;
      justify-content: center;

      .preview-header-image-container {
        position: absolute;
        z-index: 2;
        left: -200rpx;
        min-width: 600rpx;
        top: 250rpx;
        background-color: rgb(255, 255, 255);
        padding: 20rpx;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        gap: 20rpx;
        filter: drop-shadow(0px 0px 5rpx #aaaaaa);
        border-radius: 5rpx;

        .preview-image-item {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .header-image {
            width: 80rpx;
            height: 80rpx;
            border-radius: 5rpx;
            box-shadow: 0px 0px 5rpx rgb(59, 59, 59);
          }

          .close-button {
            width: 50rpx;
            height: 50rpx;
            fill: white;
          }
        }

        .add-button {
          width: 80rpx;
          height: 80rpx;
          // outline: 1rpx solid #ebebeb;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 5rpx #757575;
        }

        &::before {
          position: absolute;
          top: -25rpx;
          content: '';
          width: 50rpx;
          height: 50rpx;
          background-color: #ffffff;
          transform: rotate(-90deg);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%);
        }
      }
    }

    .header-image {
      border: 1px solid transparent;
      border-radius: 300px;
      width: 200rpx;
      height: 200rpx;
      position: absolute;
      z-index: 5;
    }

    .user-name {
      text-align: center;
      font-size: 50rpx;
      position: relative;

      image {
        top: 10rpx;
        right: -40rpx;
        width: 30rpx;
        height: 30rpx;
        position: absolute;
      }
    }

    .user-second-department {
      font-size: 25rpx !important;
      padding: 0 !important;
    }

    .user-department {
      font-weight: lighter !important;
      font-size: 30rpx;
    }

    .user-department,
    .user-second-department {
      text-align: center;
      color: #3d3d3d;
      font-weight: lighter;
      padding: 5rpx 0;
      font-weight: lighter;
      letter-spacing: 1rpx;
    }

    .user-level {
      letter-spacing: 1rpx;
      font-weight: lighter;
      color: #3d3d3d;
      font-size: 28rpx;
      text-align: center;
      margin-top: 10rpx;
    }
  }

  .user-data {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 15rpx 40rpx;
    width: calc(100% - 200rpx);
    box-shadow: 0px 0px 10rpx #a0a0a0;
    margin-top: 30rpx;
    border-radius: 20rpx;
    flex-direction: column;

    .perosnal-group {
      display: flex;
      width: 90%;
      align-items: center;
      position: relative;

      .edit {
        position: absolute;
        right: 0;
        width: 40rpx;
        height: 40rpx;
      }

      text {
        font-size: 30rpx;
      }

      input {
        width: 100%;
        padding: 10rpx 30rpx;
        font-size: 30rpx;
        background-color: #f3f3f3;
        border-radius: 100px;
        border: 2rpx inset #ffffff;
      }

      .user-data-icon {
        width: 60rpx;
        height: 60rpx;
        padding: 20rpx 20rpx 20rpx 5rpx;
      }
    }
  }

  .exit-container {
    width: calc(100% - 200rpx);
    background-color: white;
    display: flex;
    padding: 30rpx 40rpx;
    box-shadow: 0px 0px 10rpx #929292;
    justify-content: space-between;
    border-radius: 20rpx;
    margin-top: 40rpx;

    text {
      font-size: 30rpx;
      font-weight: 800;
      color: #ec1919;
    }

    image {
      width: 40rpx;
      height: 40rpx;
    }
  }

  .login-container {
    width: calc(100% - 200rpx);
    // background-color: #0064e7;
    background: linear-gradient(50deg, #e43333, #e4c438);
    display: flex;
    padding: 30rpx 40rpx;
    box-shadow: 0px 0px 5rpx #a0a0a0;
    justify-content: center;
    border-radius: 10rpx;
    margin-top: 40rpx;

    text {
      font-size: 30rpx;
      font-weight: 800;
      color: #ffffff;
      letter-spacing: 10rpx !important;
    }
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}