.preview-header-image-container {
  left: -200rpx;
  min-width: 600rpx;
  background-color: rgb(255, 255, 255);
  padding: 20rpx;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  gap: 20rpx;
  border-radius: 5rpx;

  .preview-image-item {
    position: relative;

    .header-image {
      width: 80rpx;
      height: 80rpx;
      border-radius: 5rpx;
    }

    .delete-button {
      width: 35rpx;
      height: 35rpx;
      fill: white;
      background-color: white;
    }
  }

  .add-button {
    width: 80rpx;
    height: 80rpx;
    outline: 1rpx solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    position: absolute;
    top: -25rpx;
    content: '';
    width: 50rpx;
    height: 50rpx;
    background-color: #ffffff;
    transform: rotate(-90deg);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%);
  }
}