<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="from">
        <div style="margin-bottom: 30px;">后台服务系统</div>
        <div class="group">
            <input type="text" class="input-item" required />
            <p>用户名</p>
        </div>
        <div class="group">
            <input type="text" class="input-item" required />
            <p>密码</p>
        </div>
        <div>
            <input type="button" value="登录" class="login">
        </div>
    </div>
</body>
<script>
    document.querySelector(".login").addEventListener("click", () => {
        fetch("http://127.0.0.1:8800/login", { method: "POST" }).then(res => {
            res.text().then((a) => {
                console.log(a)
            })
        })
    })

</script>

</html>