.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.itmes-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z--1 {
  z-index: -1;
}

.z-2 {
  z-index: 2;
}
.right-0{
  right: 0;
}

.left-0{
  left: 0;
}

.top-0{
  top: 0;
}

.bottom-0{
  bottom: 0;
}