.preJS-render-td {
  font-size: 13px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 43, 43);
}



.preJS-success {
  background-color: #e5fce1;
}

.preJS-error {
  background-color: #ffc3c3;
}

.preJS-other {
  background-color: #fff;
}

.preJS-default {
  background-color: #9fd1ff;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}
