.question-container {
  display: grid;
  grid-template-columns: 60rpx auto;
  grid-template-rows: auto auto;
  place-items: center start;
  padding: 15rpx 30rpx;
  background-color: #f0f0f0;
  margin: 10rpx 0;
  border-radius: 5rpx;
  border: 1px transparent solid;
}

.question-title {
  font-size: 30rpx;
}

.question-answer {
  font-size: 30rpx;
  color: rgb(75, 75, 75);
}

image {
  width: 35rpx;
  height: 35rpx;
}