@import "./utils/css/lib.scss";

Page {
  width: 100%;
  height: 100%;

  .container {
    width: inherit;
    height: calc(100% - 30rpx);
    background-color: #f7f7f7;
  }
}

.change_button {
  width: max-content;
  height: max-content;
  background-color: #eb3b3b;
  color: white;
  padding: 10rpx 20rpx;
  font-size: 25rpx;
  border-radius: 10rpx;
  margin: auto;
  margin-left: 60rpx;
}

@font-face {
  font-family: 'LogoFont';
  src: url("http://localhost:80/font/logofont.ttf");
}

.picker {
  font-size: 25rpx;
  letter-spacing: 2rpx;
  height: 100%;
  width: 100%;
}

.delete-button {
  color: white;
  background-color: #e44439;
  padding: 10rpx 10rpx;
  text-align: center;
  width: 100rpx;
  border-radius: 5rpx;
  margin: 0 10rpx;
}

.primary-button {
  color: white;
  background-color: #0074d3d2;
  padding: 10rpx 10rpx;
  text-align: center;
  width: 100rpx;
  border-radius: 10rpx;
  margin: 0 10rpx;
  letter-spacing: 2rpx;
}

tableColumn {
  text {
    height: 25px;
  }
}

scroll-view {
  height: 90%;
}

// 添加记录
input {
  width: 80%;
  font-size: 30rpx;
  border: 1px solid transparent;
  padding: 10rpx 20rpx;
  height: 100%;
}

.primary-button {
  color: white;
  background-color: #2183d3;
  padding: 10rpx 10rpx;
  text-align: center;
  width: 500rpx;
  border-radius: 5rpx;
  margin: 0 10rpx;
}

.tbn-picker {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: white;
}

.label {
  max-width: 100rpx;
  min-width: 100rpx;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0rpx 10rpx;
  justify-content: center;
  background: linear-gradient(60deg, #ffeae9, #80c3ff);
  color: #2c2c2c;
  font-size: 26rpx;
  font-weight: bolder;
  border-right: 1rpx solid rgb(104, 104, 104);
  letter-spacing: 1rpx;
}

.cancel-button {
  background-color: #e70000;
  color: white;
}

.add-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80rpx;
  box-shadow: 0rpx 0rpx 10rpx rgb(126, 126, 126);
  margin: 20rpx 0;
  border-radius: 10rpx;
  overflow: hidden;
  background-color: white;

  input {
    text-align: center;
  }
}

.add-insert-button-container {
  display: flex;
  background-color: transparent;
  border-radius: 20rpx;
  align-items: center;
  justify-content: space-around;
  width: calc(100% - 100rpx);
  margin: 40rpx 0;
  padding: 20rpx 50rpx;

  .primary-button,
  .cancel-button {
    max-width: 150rpx;
    font-size: 28rpx;
    padding: 10rpx 0;
    margin: 0px 20rpx;
  }
}

.disable-input {
  background-color: #e9e9e9;
}

.undisable-input {
  background-color: white;
}

.picker-view {
  width: 100%;
  background-color: #fff;
  padding: 30rpx 0;
  text-align: center;
  color: gray;
}