<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
</head>
<body>
<div class="message"></div>
<div class="enter">
    <input class="input" type="text"/>
    <input class="submit" type="button" value="SEND"/>
</div>
</body>
<script>
    let userID = crypto.randomUUID().substring(0, 5)
    let websocket = new WebSocket("ws://localhost:8080/chat/" + userID);
    let message = document.querySelector(".message")

    document.querySelector(".submit").addEventListener("click", (e) => {
        websocket.send(document.querySelector('.input').value)
        let element = document.createElement("p").innerText = document.querySelector(".message")
    })

    websocket.onmessage = (msg) => {
        const ele = document.createElement("p");
        ele.innerText = msg.data
        document.querySelector(".message").append(ele);
    }
</script>
</html>