<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<table>
    <tr style="text-align: left !important;">
        <th class="title" id="table-header">编号/WID</th>
        <th>主题</th>
        <th>等级</th>
        <th>内容</th>
        <th>反馈时间</th>
        <th>处理时间</th>
        <th>处理状态</th>
        <th>操作</th>
    </tr>
    <tr class="tableData" th:data-tr-index="${columnIndex.index}" th:each="listItem,columnIndex: ${msg}">
        <td class="title" th:data-tr-index="${columnIndex.index}" th:text="${listItem.getReport_id()}"></td>
        <td th:data-tr-index="${columnIndex.index}" th:text="${listItem.getReport_title()}"></td>
        <td th:data-tr-index="${columnIndex.index}" th:text="${listItem.getReport_type()}"></td>
        <td th:data-tr-index="${columnIndex.index}">
            <p class="content"
               style="height: 20px;width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap"
               th:text="${listItem.getReport_content()}"></p>
        </td>
        <td th:data-tr-index="${columnIndex.index}" th:text="${listItem.getReport_submit_time()}"></td>
        <td th:data-tr-index="${columnIndex.index}" th:text="${listItem.getReport_repair_time()}"></td>
        <td class="reportState" th:attr="data-state=${listItem.getReport_repair_state()}"
            th:data-tr-index="${columnIndex.index}"
            th:text="${listItem.getReport_repair_state()}"></td>
        <td th:data-tr-index="${columnIndex.index}">
            <button class="checkForMore" th:attr="data-reportID=${listItem.getReport_id()}">查看</button>
        </td>
    </tr>
</table>
<div class="info-mask" style="display: none">
    <div class="mask-content">
        <form style="line-height: 40px;">
            <div class="MASK-CONTAINER">
                <p class="label">编号/WID</p>
                <input class="value mask-item" disabled name="report_id" th:value="${msg.get(0).getReport_id()}"/>
            </div>
            <div class="MASK-CONTAINER">
                <p class="label">主题</p>
                <input class="value mask-item" name="report_title" required th:value="${msg.get(0).getReport_title()}"/>
            </div>
            <div class="MASK-CONTAINER">
                <p class="label">等级</p>
                <input class="value mask-item" name="report_type" required th:value="${msg.get(0).getReport_type()}"/>
            </div>
            <div class="MASK-CONTAINER">
                <p class="label">内容</p>
                <textarea class="value mask-item" name="report_content" required
                          spellcheck="false" style="width: 100%;height: 30vh;"
                          th:text="${msg.get(0).getReport_content()}"></textarea>
            </div>
            <div class="MASK-CONTAINER">
                <p class="label">反馈时间</p>
                <input class="value mask-item" name="report_submit_time" required
                       th:value="${msg.get(0).getReport_submit_time()}" type="datetime-local"/>
            </div>
            <div class="MASK-CONTAINER">
                <p class="label">处理时间</p>
                <input class="value mask-item" name="report_repair_time" required
                       th:value="${msg.get(0).getReport_repair_time()}" type="datetime-local"/>
            </div>
            <div class="MASK-CONTAINER">
                <p class="label">处理状态</p>
                <select class="selectValue mask-item" name="report_repair_state" required
                        style="box-shadow: 0px 0px 1px black;" th:value="${msg.get(0).getReport_repair_state()}">
                    <option>等待处理</option>
                    <option>处理中</option>
                    <option>挂起</option>
                    <option>处理完成</option>
                </select>
            </div>
            <div style="display: flex;justify-content: right">
                <input class="mask-submit-button" type="button" value="提交"/>
                <button class="mask-cancel-button" type="button">取消</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<!--<script th:src="@{/js/element.js}"></script>-->
<script th:src="@{/js/index.js}"></script>
<script th:inline="javascript">
    let dataEntity = {
        report_id: '',
        report_title: '',
        report_type: '',
        report_content: '',
        report_submit_time: '',
        report_repair_time: '',
        report_repair_state: ''
    }

    let showMask = false;
    const mask = document.querySelector(".info-mask")
    const closeMaskButton = document.querySelectorAll(".mask-cancel-button");
    const openMaskButton = document.querySelectorAll(".checkForMore");
    const maskSubmit = document.querySelector(".mask-submit-button");

    //填充空表单数据
    function formatEmpty() {
        let temp = {}
        temp.report_id = document.querySelector("input[name='report_id']").value;
        temp.report_title = document.querySelector("input[name='report_title']").value;
        temp.report_type = document.querySelector("input[name='report_type']").value;
        temp.report_content = document.querySelector("textarea[name='report_content']").value;
        temp.report_submit_time = document.querySelector("input[name='report_submit_time']").value;
        temp.report_repair_time = document.querySelector("input[name='report_repair_time']").value;
        temp.report_repair_state = document.querySelector("select[name='report_repair_state']").value;
        dataEntity = temp
    }

    // 关闭遮罩层
    closeMaskButton.forEach(BUTTON => {
        BUTTON.addEventListener("click", function () {
            mask.style.display = "none";
            showMask = false
        })
    })
    // 打开遮罩层
    openMaskButton.forEach((BUTTON) => {
        BUTTON.addEventListener("click", function () {
            mask.style.display = "";
            showMask = true
        })
    })
    //  提交修改内容
    document.querySelector(".mask-submit-button").addEventListener("click", (e) => {
        formatEmpty()
        console.log(dataEntity)
        //fetch('http://localhost:8080/changeData?' + changeData, {
        //    method: 'get',
        //    body: JSON.stringify(dataEntity)
        //}).then(function (res) {
        //    console.log(res.json());
        //})
    })
</script>