.container {

  .page-title {
    font-size: 45rpx;
    padding: 100rpx;
    text-align: center;
  }

  .input-group {
    position: relative;
    display: flex;
    margin-left: 10%;
    margin-top: 30rpx;
    margin-bottom: 50rpx;
    flex-direction: column;

    input {
      transition: all 0.2s;
      width: 80%;
      font-size: 30rpx;
      border-bottom: 1rpx solid #3d3d3d;
      padding: 10rpx;
    }

    text {
      margin: 10rpx;
      font-size: 25rpx;
      font-weight: bold;
      transition: all 0.2s;
      color: red;
    }
  }

  .control-button {
    width: 50%;
    margin-left: 25%;
    margin-top: 100rpx;
    display: flex;

    button {
      font-weight: lighter;
      color: white;
      font-size: 30rpx;
      width: 180rpx;
      padding: 15rpx 30rpx;
      border-radius: 10rpx;
    }

    .login-button {
      background-color: #2871df;
      font-weight: 500;
      letter-spacing: 5rpx;
    }
  }
}