<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rockeven199.rmg.mapper.EmployeeMapper">
    <select id="selectEmployee" resultType="com.rockeven199.rmg.entity.Employee">
        select *
        from rmg_employee limit ${startIndex},${endIndex};
    </select>
    <select id="getTotalEmployeeCount">
        select count(employee_id)
        from rmg_employee;
    </select>
    <select id="queryKeywords" resultType="com.rockeven199.rmg.entity.Employee">
        SELECT *
        from rmg_employee
        WHERE employee_id = #{keywords}
           or employee_name = #{keywords}
           or employee_age = #{keywords}
           or employee_sex = #{keywords}
           or employee_address = #{keywords}
           or employee_worked_time = #{keywords}
           or employee_department = #{keywords}
           or employee_second_department = #{keywords}
           or employee_job = #{keywords}
           or employee_level = #{keywords}
           or employee_phone = #{keywords}
           or employee_card_id = #{keywords}
           or employee_email = #{keywords}
    </select>
</mapper>