<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rockeven199.rmg.mapper.PositionMapper">
    <select id="selectPosition" resultType="com.rockeven199.rmg.entity.Position">
        select * from rmg_position limit ${startIndex},${endIndex};
    </select>
    <select id="queryKeywords" resultType="com.rockeven199.rmg.entity.Position">
        SELECT *
        from rmg_position
        WHERE position_name = #{keywords}
           or position_state = #{keywords}
           or position_description = #{keywords}
           or position_id = #{keywords}
    </select>
</mapper>