<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rockeven199.rmg.mapper.ResourceMapper">
    <select id="selectResource" resultType="com.rockeven199.rmg.entity.Resource">
        select *
        from rmg_resource limit ${startIndex},${endIndex};
    </select>
    <select id="getTotalResourceCount">
        select count(resource_id)
        from rmg_resource;
    </select>
    <delete id="deleteResource">
        delete
        from rmg_resource
        where resource_id = #{id}
    </delete>
    <insert id="insertResource">
        insert into rmg_resource
        values (null, #{name}, #{count}, #{position}, #{state})
    </insert>
    <update id="updateResource">
        update rmg_resource
        set ${field_name}=#{field_value}
        where resource_id = #{id}
    </update>
    <select id="getResourceState">
        select resource_state
        from rmg_options;
    </select>
    <select id="queryKeywords" resultType="com.rockeven199.rmg.entity.Resource">
        SELECT *
        from rmg_resource
        WHERE resource_id = #{keywords}
           or resource_name = #{keywords}
           or resource_count = #{keywords}
           or resource_position = #{keywords}
           or resource_state = #{keywords}
    </select>
</mapper>